* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    color: white;
    background: rgba(0, 0, 0, 0.7) url('https://images.pexels.com/photos/979247/pexels-photo-979247.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    background-position: 50%;
    background-blend-mode: darken;
}

.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 120px);
}

.cats-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92%;
    margin: 0 auto;

    @media (max-width: 768px) {
        width: 93%;
    }
}


.removal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-info {
  font-size: 30px;
    color: orange;
    line-height: 20px;
    height: 50px;
    margin-top: 55px;
    margin-bottom: 0;
  }

.cats-info  {
    margin-top: 20px;
} 


.cats-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cats-info {
    font-size: 24px;
    text-align: center;

}

.conclusion {
    text-align: center;
    font-size: 24px;

    @media (max-width: 320px) {
        width: 93%;
        margin-top: 0;
    }
}

.cats-gen {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.generate {
    font-size: 16px;
    width: 120px;
    padding: 20px 20px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(155, 9, 82);

    @media (max-width: 768px) {
        width: 30%;
    }

    @media (max-width: 375px) {
        width: 75%;
        margin-top: 14px;
    }


    @media (max-width: 320px) {
        width: 85%;
        margin-top: 14px;
    }
}

.generate:hover {
    transform: scale(1.1);
} 
.generate:focus {
    outline: none;
}

// class for sizing the upcoming cat images

.cats-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.size {
    display: block;
    height: 60vh;
    width: 50vw;
    margin-top: 50px;;
    justify-content: center;
    align-items: center;

    @media (max-width: 375px) {
        display: block;
        width: 77vw;
    }


    @media (max-width: 320px) {
        display: block;
        width: 87vw;
    }
}

.cats-btn-generate:hover {
    transform: scale(0.8);
}


.cats-btn-generate:focus {
    outline: none;
}

// css loader 

.loader {
    display: none;
    justify-content: center;
    align-items: center;
}

.lds-ellipsis {
    position: relative;
    width: 80px;
    height: 80px;
  }

  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }

  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  


// footer

.footer {
    position: fixed;
    display: flex;
    background-color: olive;
    text-align: center;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100vw;
    height: 60px;

}


    
